<ion-header>
  <ion-toolbar color="ucsm">
    <ion-title>Detalle Activo Fijo <ion-icon name="arrow-back-outline" (click)="fxRegresar()"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label>Código</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>C. Resp.</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Empleado</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </form>
</ion-content>
